# Dependencies
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Production
/build
/out

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Environment
.env
.env.local
.env.*.local
.env.*

# Logs
logs/
*.log

# OS
Thumbs.db
#firebase
serviceAccountKey.json
.claude
# Ignoruj foldery z kodem źródłowym (niepotrzebne na serwerze)
frontend/
middleware/
routes/
services/
types/
backend/src/

# Ignoruj biblioteki (serwer sam je pobierze)
node_modules/

# Ignoruj śmieci systemowe i logi
.DS_Store
*.log