@import "tailwindcss";

@layer base {
  body {
    @apply antialiased text-slate-900 bg-slate-50;
  }
}

/* Płynne przejścia dla przycisków i kart */
* {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}